@model Survey.Core.ViewModels.PermissionViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
  

    <h4 style="font-weight:800;">Permissions</h4>
    <br />
    <div class="card">
        <div id="viewAll" class="card-body table-responsive">
            <form asp-controller="permission" method="post" asp-action="Update" class="d-inline">
                <input asp-for="@Model.RoleId" type="hidden" />
                <table class="table table-striped" id="permissionTable">
                    <thead>
                        <tr>
                            <th>
                                Type
                            </th>
                            <th>
                                Permission
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.RoleClaims.Count(); i++)
                        {
                            <tr>
                                <td>
                                    <input asp-for="@Model.RoleClaims[i].Type" type="hidden" />
                                    @Model.RoleClaims[i].Type
                                </td>
                                <td>
                                    <input asp-for="@Model.RoleClaims[i].Value" type="hidden" />
                                    @Model.RoleClaims[i].Value
                                </td>
                                <td>
                                    <div class="checkbox-inline form-check mt-1 mb-1">
                                        <label class="checkbox checkbox-outline checkbox-outline-2x">
                                            <input asp-for="@Model.RoleClaims[i].Selected" class="form-check-input" />
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="col-sm-12" style="padding: 20px 20px 0px 0px">
                    <button type="submit" id="save" class="btn btn-success">
                        <i class="fa fa-check"></i>
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>

<style>
    .card.card-custom {
        box-shadow: 0px 0px 10px 0px rgb(82 63 105 / 18%);
        border: 0;
    }

    .checkbox.checkbox-outline > input:checked ~ span {
        background-color: transparent;
        border-color: #595959;
    }

        .checkbox.checkbox-outline > input:checked ~ span:after {
            border-color: #595959;
        }

</style>