@using Survey.Core.ViewModels
@model SurveyResultsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Sample.css" rel="stylesheet" type="text/css" />
<link href="/Admin/theme/demo4/dist/assets/css/datatable.css" rel="stylesheet" type="text/css">


<div class="d-flex flex-column-fluid">

    <div class="container">
        <!--begin::Notice-->

        
        <!--end::Notice-->
        <div class="row" data-sticky-container="">
            <div class="col-lg-3 col-xl-2">
                <div class="card card-custom sticky" data-sticky="true" data-margin-top="140px" data-sticky-for="1023" data-sticky-class="sticky">
                    <div class="card-body p-0">
                        <ul class="navi navi-bold navi-hover my-5" role="tablist">
                            <li class="navi-item">
                                <a class="navi-link" asp-action="Index" asp-route-id="@Model.FormId" title="" data-placement="right">
                                    <span class="navi-icon">
                                        <i class="flaticon-squares-3"></i>
                                    </span>
                                    <span class="navi-text">Summary</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" asp-action="Table" asp-route-id="@Model.FormId" title="" data-placement="right">
                                    <span class="navi-icon">
                                        <i class="flaticon-file-2"></i>
                                    </span>
                                    <span class="navi-text">Table</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" asp-action="Reports" asp-route-id="@Model.FormId" title="" data-placement="right">
                                    <span class="navi-icon">
                                        <i class="flaticon-line-graph"></i>
                                    </span>
                                    <span class="navi-text">Reports</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link" asp-action="Downloads" asp-route-id="@Model.FormId" title="" data-placement="right" data-original-title="This feature is coming soon!">
                                    <span class="navi-icon">
                                        <i class="flaticon-download"></i>
                                    </span>
                                    <span class="navi-text">Downloads</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>

    </div>

</div>
<script>var HOST_URL = "https://preview.keenthemes.com/keen/theme/tools/preview";</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#1BC5BD", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#1BC5BD", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>

@await RenderSectionAsync("Scripts", required: false)
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script>

    $(document).ready(function () {
        $('#example3').DataTable();
    });


    $(document).ready(function () {
        $('#example4').DataTable();
    });

</script>