@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>
@inject Survey.Infrastructure.Data.ApplicationDbContext _dbContext
@using Survey.Core.Models
@using X.PagedList
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Survey.Core.Constants
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var U = User.Identity.Name;
    var list = _dbContext.Users.ToList().Count();
}

<div class="container">



    <h1>User List</h1>
    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.PremissionList.User_AddUser)).Result.Succeeded)
    {
        <div class="pt-10 pb-10">
            <a asp-action="Create" type="button" class="btn btn-outline-primary btn-rounded" data-mdb-ripple-color="dark" style="cursor:pointer">
                <i class="fa fa-plus"></i>  Add new user
            </a>
            <a asp-action="ImportUsers" type="button" class="btn btn-outline-primary btn-rounded" data-mdb-ripple-color="dark">
                <i class="fa fa-file-import"></i>Import New Users
            </a>
        </div>
    }
    <table class="table table-striped  table-hover paginated-table mb-15" id="userTable">
        <thead>
            <tr>
                <th>
                    UserName
                </th>
                <th>
                    Id
                </th>
                <th>
                    Email
                </th>
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.PremissionList.User_UpdateUser)).Result.Succeeded ||
                (AuthorizationService.AuthorizeAsync(User, Permissions.PremissionList.User_DeleteUser)).Result.Succeeded ||
                (AuthorizationService.AuthorizeAsync(User, Permissions.PremissionList.User_UpdateUser)).Result.Succeeded)
                {
                    <th style="width:10%">
                        Actions
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <div>
                            <a>
                                @user.UserName
                            </a>
                        </div>
                    </td>
                    <td>
                        <a>
                            @user.Id
                        </a>
                    </td>

                    <td>
                        <a>
                            @user.Email
                        </a>
                    </td>
                    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.PremissionList.User_UpdateUser)).Result.Succeeded ||
                   (AuthorizationService.AuthorizeAsync(User, Permissions.PremissionList.User_DeleteUser)).Result.Succeeded ||
                   (AuthorizationService.AuthorizeAsync(User, Permissions.PremissionList.User_UpdateUser)).Result.Succeeded)
                    {
                        <td>
                            <div class="btn-group">

                                <button type="button" class="btn btn-light-orange dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu">
                                    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.PremissionList.User_UpdateUser)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="Update" asp-route-Id="@user.Id" method="post">Edit</a>
                                    }
                                    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.PremissionList.User_DeleteUser)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="Delete" asp-route-Id="@user.Id" method="post">Delete</a>
                                    }
                                    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.PremissionList.User_UpdateUser)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-controller="UserRoles" asp-action="Index" asp-route-userId="@user.Id">Manage Roles</a>
                                    }
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @*      <form asp-action="Index" id="form1">
    <partial name="~/Views/Shared/_Paging.cshtml" model='(Model.Forms as IPagedList,$"/users/Index");' data-="" />
    </form>*@
    <span class="prev btn btn-rounded btn-light"><i class="fa fa-angle-double-left"></i> Previous</span> <span class="next  btn btn-rounded btn-light"><i class="fa fa-angle-double-right"></i> Next</span>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    @*<script>
    $(document).ready(function () {
    $('#userTable').dataTable({

    });
    });
    </script>*@
</div>
<script>


    var maxRows = 5;	// Define per page element count


    console.log('hi')
    $('.paginated-table').each(function () {
        var cTable = $(this);
        var cRows = cTable.find('tr:gt(0)');
        var cRowCount = cRows.size();
        console.log(cRowCount);

        if (cRowCount < maxRows) {
            return;
        }

        cRows.each(function (i) {
            $(this).find('td:first').text(function (j, val) {
                return val;
            });
        });

        cRows.filter(':gt(' + (maxRows - 1) + ')').hide();


        var cPrev = cTable.siblings('.prev');
        var cNext = cTable.siblings('.next');

        cPrev.addClass('disabled');

        cPrev.click(function () {
            var cFirstVisible = cRows.index(cRows.filter(':visible'));

            if (cPrev.hasClass('disabled')) {
                return false;
            }

            cRows.hide();
            if (cFirstVisible - maxRows - 1 > 0) {
                cRows.filter(':lt(' + cFirstVisible + '):gt(' + (cFirstVisible - maxRows - 1) + ')').show();
            } else {
                cRows.filter(':lt(' + cFirstVisible + ')').show();
            }

            if (cFirstVisible - maxRows <= 0) {
                cPrev.addClass('disabled');
            }

            cNext.removeClass('disabled');

            return false;
        });

        cNext.click(function () {
            var cFirstVisible = cRows.index(cRows.filter(':visible'));

            if (cNext.hasClass('disabled')) {
                return false;
            }

            cRows.hide();
            cRows.filter(':lt(' + (cFirstVisible + 2 * maxRows) + '):gt(' + (cFirstVisible + maxRows - 1) + ')').show();

            if (cFirstVisible + 2 * maxRows >= cRows.size()) {
                cNext.addClass('disabled');
            }

            cPrev.removeClass('disabled');

            return false;
        });

    });

</script>

<style>
    .table td {
        padding: 0.75rem;
        vertical-align: middle;
    }
</style>