@model Survey.Core.ViewModels.FormViewModel

@{
    ViewData["Title"] = "Designer";

    string temporary_formId = "";
   
}
<!DOCTYPE html>
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Client | Dashboard</title>
    <meta name="description" content="Updates and statistics" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
<link href="~/Admin/theme/demo4/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/Admin/theme/demo4/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/theme/demo4/dist/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/theme/demo4/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/theme/demo4/dist/assets/css/new.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/theme/demo4/dist/assets/plugins/custom/uppy/uppy.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/theme/demo4/dist/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/theme/demo4/dist/assets/plugins/custom/uppy/uppy.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/theme/demo4/dist/assets/css/datatable.css" rel="stylesheet" type="text/css" />
      <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    <link rel="manifest" href="/manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Survey">
    <meta name="apple-mobile-web-app-title" content="Survey">
    <meta name="theme-color" content="#FBF7EF">
    <meta name="msapplication-navbutton-color" content="#FBF7EF">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="128x128" href="./images/pwalogos/128x128.png">
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body">

    <style>
        .rtl {
            direction: rtl !important;
            text-align: right;
        }
    </style>


<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="subheader py-6 py-lg-8 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Survey</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                           
                            <li class="breadcrumb-item text-muted">
                                <a class="text-muted" href="/Survey/ManageForm">Manage Survey</a>
                            </li>
                            <li class="breadcrumb-item text-muted">
                                <a class="text-muted">Design the form</a>
                            </li>
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->
            </div>
        </div>
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">


            <!--begin::Container-->
            <div class="container">

                <div class="">
                    <div class=" center-block">
                        <!--begin::Card-->
                        <div class="card card-custom gutter-b example-compact">
                            <div class="">
                                <div class="col-lg-12 draggable-zone" tabindex="0">
                                    <!--begin::Card-->

                                    @for (var i = 0; i < Model.OriginalQuestion.Count; i++)
                                    {
                                        <div class="card card-custom gutter-b draggable" tabindex="0" style=" margin-bottom: 10px;margin-top: 30px;">
                                            <div class="questionorder">
                                                <input type="hidden" asp-for="OriginalQuestion[i].Id" value="@Model.OriginalQuestion[i].Id" form="orderform" class="questionid" />
                                                <input type="hidden" asp-for="OriginalQuestion[i].QuestionOrder" value="@Model.OriginalQuestion[i].QuestionOrder" form="orderform" class="questionorderid" />
                                            </div>
                                            <div class="card-header">
                                                <div class="card-title" style="
                                                flex-flow: column;
                                                align-items: flex-start;
                                                justify-content: flex-end;">
                                                    <h3 class="card-label" style=" margin-top: 10px;">@Model.OriginalQuestion[i].QuestionText </h3>
                                                    <p style="font-size: 12px;font-style: italic;margin-top: 6px;">@Model.OriginalQuestion[i].QuestionDescription</p>
                                                </div>
                                                <div class="card-toolbar">

                                                    <a asp-action="editQuestion" asp-route-id="@Model.OriginalQuestion[i].Id" class="btn btn-icon btn-sm btn-hover-light-orange ">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a asp-action="SkipLogic" asp-route-id="@Model.OriginalQuestion[i].Id" class="btn btn-icon btn-sm btn-hover-light-orange">
                                                        <i class="fas fa-play"></i>
                                                    </a>
                                                   
                                                    <a onclick="deleteQuestion(this,@Model.OriginalQuestion[i].Id)" class="btn btn-icon btn-sm btn-hover-light-orange ">
                                                        <i class="flaticon-delete"></i>
                                                    </a>

                                                    <a href="#" title=" You can change the order or your questions by simply clicking and holding this button to drag and drop the question/field wherever you prefer. " class="btn btn-icon btn-sm btn-hover-light-orange draggable-handle">
                                                        <i class="ki ki-menu "></i>
                                                    </a>
                                                </div>
                                            </div>
                                            @if (Model.OriginalQuestion[i].Options.Count > 0)
                                            {


                                                <div class="card-body" style=" padding: 10px !important;">
                                                    <ul>
                                                        @foreach (var op in Model.OriginalQuestion[i].Options)
                                                        {
                                                            <li>@op.OptionText</li>
                                                        }
                                                    </ul>
                                                </div>
                                            }

                                        </div>
                                    }

                               
                                    <!--end::Card-->
                                    <!--end::Card-->
                                    <form id="orderform">
                                        <input type="hidden" asp-for="formid" value="@Model.formid" />
                                        <button class="btn btn-orange pl-10 pr-10 mt-10" id="saveorderbutton" style="display:none;margin:auto;">Save</button>
                                    </form>
                                </div>

                            </div>
                            <!--begin::Form-->
                            <form id="addquestionform" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="card-body">
                                    <input type="hidden" name="formid" value="@Model.formid" />
                              
                                    <div class="row pt-10 pb-10">
                                        <div class="col-1">
                                            <span class="label-grey pulse mr-10">
                                                <span class="position-relative">1</span>
                                                <span class="pulse -ring"></span>
                                            </span>
                                        </div>
                                        <div class="col-11 ">
                                            <label class="">What label should appear on this field?</label>
                                            <div class="form-group row">
                                                <div class="col-6">
                                                    <textarea asp-for="Question.QuestionText" class="form-control checkarabic" placeholder="Question Label"></textarea>
                                                    <br />
                                                    <textarea asp-for="Question.QuestionDescription" class="form-control checkarabic" placeholder="Question Description"></textarea>

                                                    <span class="form-text text-muted dangerquestiontext" id="questiontextwarning"></span>
                                                    <style>
                                                        .dangerquestiontext {
                                                            color: red !important;
                                                        }
                                                    </style>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row pt-10 pb-10">
                                        <div class="col-1 ">
                                            <span class="label-grey pulse mr-10">
                                                <span class="position-relative">2</span>
                                                <span class="pulse-ring"></span>
                                            </span>
                                        </div>

                                        <div class="col-11">
                                            <div class="form-group">
                                                <label>What type of field should this be?</label>
                                                <div class="col-9 col-form-label">
                                                    <div class="radio-inline questiontype">
                                                      
                                                        @foreach (int i in Enum.GetValues(typeof(Survey.Core.HelperClasses.QType)))
                                                        {
                                                            <label class="radio radio-danger">
                                                                @if (((Survey.Core.HelperClasses.QType)i == Survey.Core.HelperClasses.QType.Select_Multiple 
                                                                || (Survey.Core.HelperClasses.QType)i == Survey.Core.HelperClasses.QType.Select_One))
                                                                {
                                                                    <input type="radio" class="selectquestionradio checkarabic" value="@Enum.GetName(typeof(Survey.Core.HelperClasses.QType), i)" name="FieldType" />

                                                                }
                                                                else
                                                                {
                                                                    <input type="radio" class="checkarabic" value="@Enum.GetName(typeof(Survey.Core.HelperClasses.QType), i)" name="FieldType" />

                                                                }
                                                                <span></span>
                                                                @Enum.GetName(typeof(Survey.Core.HelperClasses.QType), i)
                                                            </label>
                                                        }
                                                    </div>
                                                    <span class="form-text text-muted dangerquestiontext" id="questionfieldtypewarning"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row pt-10 pb-10">
                                        <div class="col-1 ">
                                            <span class="label-grey pulse mr-10">
                                                <span class="position-relative">3</span>
                                                <span class="pulse-ring"></span>
                                            </span>
                                        </div>
                                        <div class="col-11">
                                            <div class="row form-group">
                                                <label class="col-2 col-form-label">Is Required</label>
                                                <div class="col-3">
                                                    <span class="switch switch-outline switch-icon switch-warning">
                                                        <label>
                                                            <input type="checkbox" name="_isRequired" />
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                    <div class="row pt-10 pb-10 questionoptions" style="display:none;">
                                        <div class="col-1 m-auto">
                                            <span class="label-grey pulse mr-10">
                                                <span class="position-relative">4</span>
                                                <span class="pulse-ring"></span>
                                            </span>
                                        </div>
                                        <div class="col-11">
                                            <div class="input_fields_wrap">
                                                <label>Add Options below</label>
                                                <div class="form-group row" style="margin-bottom: 0;">
                                                    <div class="col-6">
                                                        <textarea asp-for="Option.OptionText" class="form-control" placeholder="Option"> </textarea><br>
                                                    </div>

                                                </div>

                                            </div>
                                            <button class="add_field_button btn btn-sm font-weight-bolder btn-light-orange"><i class="la la-plus"></i>Add </button>
                                        </div>

                                    </div>
                                    <p style="display:block;text-align:center;color:red;" id="generalerror"></p>
                                    <div class="card-footer row mt-10">
                                        <div class="col-3"></div>
                                        <div class="col-6 text-center">
                                            <input type="submit" value="Save" class="btn btn-orange mr-2 " />
                                            <a asp-action="ManageForm" class="btn btn-secondary">Back to List</a>
                                            <a asp-action="Survey" asp-route-id="@Model.formid" class="btn btn-orange">Test Survey</a>

                                        </div>

                                    </div>

                                </div>

                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Card-->
                    </div>

                </div>
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="~/js/DesignerJs.js"></script>
<script src="~/js/draggable.bundle.js" type="text/javascript"></script>
<script src="~/js/jquery.simpleLoadMore.min.js"></script>
<script src="~/js/General.js"></script>
<script>


    $('.draggable-zone').simpleLoadMore({
        item: '.draggable',
        itemsToLoad: 5,
        showCounter: true,
        counterText: 'Total of questions: {total}',
        btnHTML: '<a href="#" class="load-more__btn btn btn-light-orange">View More <i class="fas fa-angle-down"></i></a>'
    });



    var KTCardDraggable = function () {
        return {
            //main function to initiate the module
            init: function () {
                var containers = document.querySelectorAll('.draggable-zone');

                if (containers.length === 0) {
                    return false;
                }
              
                var swappable = new Sortable.default(containers, {
                    draggable: '.draggable',
                    handle: '.draggable .draggable-handle',
                    mirror: {
                        appendTo: 'body',
                        constrainDimensions: true
                    }
                });
            }
        };
    }();

    jQuery(document).ready(function () {
        KTCardDraggable.init();
    });


</script>
<style>
    .alert.alert-custom {
        padding: 0rem 1rem;
    }
  
    .card.card-custom {
        box-shadow: 0px 0px 5px 0px rgb(82 63 105 / 18%);
        border: 0;
    }

    .remove_field {
        max-height: 32px;
        margin: auto 0;
    }

    .load-more__counter {
        padding-top: 25px;
        text-align: center;
    }

    .load-more__btn-wrap{
        text-align:center;
    }
</style>
</body>

</html>