@using Survey.Core.Models
@model Survey.Core.ViewModels.FormViewModel

@{
    ViewData["Title"] = "SkipLogic";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-6 py-lg-8 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h3 style="color: #ED7D31;font-weight:800;" class=" my-1 mr-5">Skip Logic</h3>
                        <!--end::Page Title-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

            </div>
        </div>
        <!--end::Subheader-->
     
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 center-block">
                        <!--begin::Card-->
                        <!--begin::Form-->
                        <form asp-action="SkipLogic" method="post" id="formSkip" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card card-custom  p-10">
                                <table class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                                    <thead>
                                        <tr>
                                            <th>Dependent on</th>
                                            <th>Condition</th>
                                            <th>Value</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (SkipLogic skip in Model.SkipLogicList)
                                        {
                                            <tr>
                                                <td>
                                                    @skip.ParentQuestion.QuestionText
                                                </td>

                                                <td>
                                                    @skip.operator_string
                                                </td>
                                                @if (skip.Comparable_Value is null)
                                                {
                                                    <td>
                                                        @skip.Option.OptionText
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @skip.Comparable_Value
                                                    </td>
                                                }
                                                <td>
                                                    <a asp-controller="Survey" asp-action="DeleteSkipLogic" asp-route-id="@skip.Id" class="btn btn-icon btn-light-orange btn-sm mr-2">
                                                        <i class="icon-trash">Delete</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }



                                    </tbody>
                                </table>

                            </div>
                            <div class="card card-custom  p-10 mt-20">
                                <div class="form-group pt-10 ">
                                    <label><b>The question for which skip logic is being implemented will only be displayed if the following conditions apply:</b></label>
                                </div>
                                <div class="form-group">
                                    <select asp-for="Question.SkipLogicType" value="@Model.Question.SkipLogicType" class="form-control">
                                        <option value="0">Question should match any of these criteria</option>
                                        <option value="1">Question should match all of these criteria</option>
                                    </select>

                                </div>
                                <div class="form-group">
                                    <select asp-for="Question.Id" asp-items="@Model.ParentQuestionsList" class="form-control" id="selectQuestionId">
                                        <option disabled selected>Select parent question from list</option>
                                    </select>
                                    <input type="hidden" asp-for="Question.Field_Type">
                                </div>
                                <input name="id" value="@Model.Question.Id" type="hidden" />
                                <div id="insertSelection">

                                </div>
                                <p id="errorMessage" style="color:red"></p>
                                <div class="card-footer text-center">
                                    <input type="submit" value="Submit" class="btn btn-orange mr-2" />
                                    <a class="btn btn-grey" asp-action="Designer" asp-route-id="@Model.formid">Back to List</a>
                                </div>
                            </div>
                        </form>
                        <!--end::Form-->
                        <!--end::Card-->
                    </div>

                </div>
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->

</div>
<!--end::Wrapper-->




@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
<script>
    var selectedQuestion = document.getElementById("selectQuestionId");

    selectedQuestion.addEventListener("change", () => {
        var question = selectedQuestion.value;
        $.ajax({
            url: `/Survey/RefreshOptions/${question}`,
            method: "GET",
            success: function (data) {
                var container = document.getElementById("insertSelection");
                container.innerHTML = data;
            },
            error: function (err) {
            }
        });
    });
    var form = document.getElementById("formSkip");
    var errorMessage = document.getElementById("errorMessage");

    form.addEventListener("submit", (e) => {
        e.preventDefault();
        var formdata = new FormData(form);
        var da = Object.fromEntries(formdata);
       $.ajax({
            url: `/Survey/SkipLogic`,
            method: "POST",
            data:da,
            success: function () { 
                window.location.reload();
            },
            error: function (err) {
                console.log(err);
                  errorMessage.innerHTML = "";
                errorMessage.innerHTML = err.responseText;
            }
        });
      
    })

</script>

<style>
    th span {
        color: #b5b5c3 !important;
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: 600 !important;
        letter-spacing: .1rem;
    }

    .datatable.datatable-default > .datatable-table {
        background-color: transparent;
    }

    thead {
        border-bottom: 1px solid #dedede;
    }

    .card.card-custom {
        box-shadow: 0px 0px 10px 0px rgb(82 63 105 / 18%);
        border: 0;
    }

</style>